<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
      <events>
          <event name="indexing:completed:remote" role:require="Standalone or ContentDelivery">
              <handler type="Sitecore.Commerce.Engine.Connect.Events.IndexingCompletedEventHandler, Sitecore.Commerce.Engine.Connect" method="OnIndexingCompleted">
                  <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Events.IndexingCompletedEventHandler, Sitecore.Support.364030</patch:attribute>
              </handler>
          </event>
      </events>
  </sitecore>
</configuration>